@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


::-webkit-scrollbar-track {
  box-shadow: none !important;
  background-color: transparent;
}
::-webkit-scrollbar {
  width: 3px !important;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.on-scrollbar{
  scrollbar-width: thin;
}

.on-scrollbar::-webkit-scrollbar-track {
  box-shadow: none !important;
  background-color: transparent !important;
}

.on-scrollbar::-webkit-scrollbar {
  width: 6px !important;
  background-color: transparent;
}

.on-scrollbar::-webkit-scrollbar-thumb {
  background-color: #acacac;
}


.app {
  position: absolute;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', monospace;
  background-image: url(/image_background_3.jpg) ;
}

.intro {
  text-align: center;
  margin: auto;
  color: black;
}

.welcome {
  text-align: center;
  margin: auto;
  color: yellow;
}

.button_W {
  background-color: yellow;
  margin: 50px;
  text-decoration:none;
  text-align: center;
  color: black;
}

footer {
  height: 1000;
  flex-shrink: 0;
}

header{
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px;
  text-align: center;
}

.channel {
  height: 100%;
  flex: 1 1;
  display: flex;
  overflow: hidden;
  flex-direction: column;

}

.messages {
  flex: 1 1 auto;
  height: 100%;
  overflow: auto;
}

.messages ul {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: 0;
}

.channelBox {
  float: left;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
}

li {
  list-style-type: none;
}

.root {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 50;
}

.form {
  display: flex;
  flex: 1 1 auto;
}

.content {
  flex: 1 1 auto;
  margin-right: .5rem;
  border-radius: .4em;
}

.send {
  padding: .2rem .5rem;
  border: none;
}

.send:hover {
  cursor: pointer;
}

#messageDiv{
  flex : 1 1 auto;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.mdHover{
  visibility: hidden;
}




#messageDiv:hover  .mdHover {
  visibility: visible;
}
